body,html{
    background-image: url("images/bg.jpg");
    height:100%;
    margin:0;
    height: 100%; 
    width:100%;
    background-position: center;
    background-repeat: repeat;
    
}
table{
    background-color: rgb(203, 187, 144,80%);
    border-radius:20px;
    
}

h2{
    color: white;
}
h1{
    color:white;
}
nav{
    background-color:rgb(203, 187, 144) ;
}